form {
    height: 720px;
}

.upperPage {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainTable {
    border-collapse: collapse;
    border: 1px solid black;
    letter-spacing: 1px;
    font-size: 0.8rem;
    width: 54%;
}

.trStyle {
    border: 1px solid black;
    padding: 5px 10px;
    width: 30%;
    height: 60px;
    background-color: #A6C0EE;
}

.tdStyle {
    border: 1px solid black;
    padding: 5px 10px;
    width: 70%;
    background-color: white;
}

.corrBtnStyle {
    float: right;
    background-color: white;
    border: 0px;
}

.lowerPage {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lowerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-collapse: collapse;
    letter-spacing: 1px;
    font-size: 0.8rem;
    width: 54%;
    padding-bottom: 100px;
}

.buttonStyle {
    width: 30%;
    height: 50px;
    margin: 10px;
    font-size: 20px;
}

.deletebtn {
    width: 30%;
    height: 50px;
    margin: 10px;
    font-size: 20px;
    color: red;
}