.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.profile img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile h2 {
    font-size: 24px;
    margin-bottom: 0;
}

.profile p {
    font-size: 16px;
}

.profile div {
    display: flex;
    align-items: center;
}
