.project-item {
    margin-bottom: 1rem;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 1rem;
    cursor: pointer;
}

.project-header h4 {
    margin: 0;
}

.project-details {
    padding: 1rem;
    background-color: #f9f9f9;
}
