.form {
    margin: 0;
    width: 100%;
    height: 100%;
}

.header {
    background-color: #A6C0EE;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    height: 50px;
}

.mainScreen {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    flex-direction: column;   
}

.h1 {
    font-weight: bold;
    font-size: 60px;
}

.h2 {
    margin: 25px;
    margin-bottom: 30px;
    margin-top: 15px;
    padding-left: 70px;
    margin-right: -35px;
    font-weight: 800;
}

.inputsection {
    display: flex;
    float: left;
}

.mainRightDiv {
    display: flex;
}

.comfirmBtn {
    padding-left: 30px;
}

.boxStyle {
    height: 40px;
    width: 7rem;
    margin: 10px;
    border-radius: 10px;
}

.hr {
    border: 1px solid black;
    width: 700px;
    margin-top: 30px;
}

.navsection {
    display: block;
    justify-content: space-between;
    margin-left: 0px;   
}

.navBtnStyle {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

