.sidebar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.sidebar li {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #f2f2f2;
}

.sidebar li.active {
    background-color: #ddd;
}

.content {
    margin-top: 10px;
    clear: both;
}
.notifi {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inviteText {
    display: flex;
    align-items: center;
}

.inviteInfo {
    margin-left: 8px;
}

.inviteButtons {
    margin-left: 8px;
}

.userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.kanban-board {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column {
    flex: 1;
    min-width: 200px;
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 10px;
}

.column-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.task {
    margin-bottom: 10px;
    padding: 8px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inviteButtons .acceptButton {
    background-color: #42f548;
    color: #ffffff;
    padding: 8px 16px;
    margin-right: 8px;
    border-radius: 4px;
    border: none;
}

.inviteButtons .acceptButton:hover {
    background-color: #42f548;
}

.inviteButtons .declineButton {
    background-color: #e57373;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
}

.inviteButtons .declineButton:hover {
    background-color: #ef5350;
}

.profile {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.userProfile {
    margin-right: 10px;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    background-color: #f5f5f5;
    width: 100%;
    padding: 16px;
    border-radius: 4px;
}

.commentHeader {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.comment .commentHeader .commentInfo {
    margin-left: 8px;
}

.comment .commentContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment .commentText {
    margin-bottom: 8px;
}

.commentTime {
    position: relative;
    font-size: 12px;
    color: gray;
    align-items: flex-end;
    margin-left: auto;
}

::-webkit-scrollbar {
    width: 0.5rem;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}
