.mainPage {
    display: flex;
    height: 100vh;
    position: relative;
}

.sidebar {
    /* LSideBar */
    width: 15%;
}

.MainSection {
    flex: 1;
    overflow-y: auto; /* 스크롤을 사용할 수 있도록 설정 */
    position: relative;
}

.toggleButton {
    position: relative;
    top: 50vh;
    left: 0px;
    height: 30px;
    width: 25px;
    transform: translateY(-50%);
    z-index: 2;
}

.sidebar.closed .toggleButton {
    left: 10px;
}

.sidebar .toggleButton {
    right: 10px;
}

.RSideBar {
    width: 20%;
}

/* 추가된 스타일 */
.MainSection::-webkit-scrollbar {
    width: 5;
}

.MainSection {
    scrollbar-width: 5; /* Firefox 용 스크롤바 숨김 */
    padding-left: 20px;
}

.MainSection::-webkit-scrollbar-track {
    background-color: transparent; /* 스크롤바 트랙의 배경색 설정 */
}

.MainSection::-webkit-scrollbar-thumb {
    background-color: transparent; /* 스크롤바의 색상 설정 */
}
