.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.task-list {
    padding: 20px;
    min-height: 100px;
}

.task {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.dragging {
    opacity: 0.5;
}
.dragging-over {
    background-color: #e6f7ff;
}
