.sidebar {
    background-color: #f2f2f2;
    padding: 20px;
    width: 20%;
    height: 100vh;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
}

.sidebar.closed {
    width: 0; /* 접힌 상태일 때 width 0 */
    padding: 0; /* 접힌 상태일 때 adding을 0*/
}

.profile {
    display: flex;
    align-items: center;
}

.profileImageContainer {
    margin-right: 10px;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.profile div {
    margin-bottom: 5px;
}

input[type="text"] {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    align-items: center;
}

.project-list li {
    list-style-type: none;
    padding: 5px 0;
}

.add-project-button {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.add-project-button:hover {
    background-color: #e0e0e0;
}
