.sidebar {
    background-color: #f2f2f2;
<<<<<<< HEAD
    padding: 10px;
    width: 15%;
=======
    padding: 20px;
    width: 20%;
>>>>>>> 28ce7fecb7cc171cf3ecdbd8aef06c30d425d2d4
    height: 100vh;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
}

.sidebar.closed {
    width: 0; /* 접힌 상태일 때 width 0 */
    padding: 0; /* 접힌 상태일 때 adding을 0*/
}

.profile {
    display: flex;
    align-items: center;
<<<<<<< HEAD
    margin-bottom: 10px;
=======
>>>>>>> 28ce7fecb7cc171cf3ecdbd8aef06c30d425d2d4
}

.profileImageContainer {
    margin-right: 10px;
}

.userInfo {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    align-items: center;
}

.userName {
    font-size: 15px;
}

.userEmail {
    font-size: 10px;
=======
>>>>>>> 28ce7fecb7cc171cf3ecdbd8aef06c30d425d2d4
}

.profile div {
    margin-bottom: 5px;
}

input[type="text"] {
<<<<<<< HEAD
    width: 85%;
    padding: 10px;
    margin-left: 0%;
=======
    width: 90%;
    padding: 8px;
>>>>>>> 28ce7fecb7cc171cf3ecdbd8aef06c30d425d2d4
    margin-bottom: 10px;
    align-items: center;
}

<<<<<<< HEAD
.project-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.project-list li {
    width: 75%;
    list-style-type: none;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 2px;
}

.add-project-button {
    width: 86%;
    padding: 8px;
    margin-left: 10px;
=======
.project-list li {
    list-style-type: none;
    padding: 5px 0;
}

.add-project-button {
    width: 100%;
    padding: 8px;
>>>>>>> 28ce7fecb7cc171cf3ecdbd8aef06c30d425d2d4
    border: none;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.add-project-button:hover {
    background-color: #e0e0e0;
}
