.sidebar {
    background-color: #f2f2f2;
    padding: 10px;
    width: 15%;
    height: 100vh;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
}

.sidebar.closed {
    width: 0; /* 접힌 상태일 때 width 0 */
    padding: 0; /* 접힌 상태일 때 adding을 0*/
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profileImageContainer {
    margin-right: 10px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userName {
    font-size: 15px;
}

.userEmail {
    font-size: 10px;
}

.profile div {
    margin-bottom: 5px;
}

input[type="text"] {
    width: 85%;
    padding: 10px;
    margin-left: 0%;
    margin-bottom: 10px;
    align-items: center;
}

.projectList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.projectList li {
    width: 75%;
    list-style-type: none;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 2px;
}

.addProjectButton {
    width: 86%;
    padding: 8px;
    margin-left: 10px;
    border: none;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.addProjectButton:hover {
    background-color: #e0e0e0;
}
